{#
 This file is part of EC-CUBE

 Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['content', 'MakeLP'] %}

{% block title %}コンテンツ管理{% endblock %}
{% block sub_title %}LP管理{% endblock %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.core.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.widget.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js"></script>
    <script>
        function changeAction(action) {
            document.form1.action = action;
        }
    </script>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-9">
            <div class="box">
                <div class="box-header">
                    <div class="box-title box-title-category">
                        LP設定
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-inline">
                        <form role="form" class="form-horizontal" name="form1" id="form1" method="post">
                            {{ form_widget(form._token) }}
                            {{ form_widget(form.path, {attr: {placeholder: 'パスを入力'}}) }}
                            {{ form_widget(form.product_id, {attr: {placeholder: 'product_idを入力'}}) }}
                            {{ form_widget(form.lp_id) }}
                            <button class="btn btn-default btn-sm" type="submit" onclick="document.form1.submit(); return false;">LP作成</button>
                        </form>
                    </div>
                </div><!-- /.box-header -->

                {% if MakeLPs|length > 0 %}
                    <div class="box-body no-padding no-border">
                        <div class="sortable_list">
                            <div class="tableish">

                                {% for MakeLP in MakeLPs %}

                                <div class="item_box tr" data-rank="{{ MakeLP.rank }}" data-maker-id="{{ MakeLP.id }}">
                                    <div class="item_pattern td">
                                        <a href="{{ url('admin_makelp',  { id : MakeLP.id }) }}">{{ MakeLP.path }}</a>
                                    </div>
                                    <div class="item_pattern td">
                                        {{ MakeLP.product_name }}</a>
                                    </div>
                                    <div class="icon_edit td">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                {% if MakeLP.id != TargetMakeLP.id %}
                                                    <li><a href="{{ url('admin_makelp', {id: MakeLP.id}) }}">編集</a></li>
                                                {% else %}
                                                    <li><a>編集中</a></li>
                                                {% endif %}
                                                    {% set delete_action = url('admin_makelp_delete', {id: MakeLP.id}) %}
                                                    <li>
                                                        <a href="?" onclick="changeAction('{{ delete_action }}'); document.form1.submit(); return false;">
                                                            削除
                                                        </a>
                                                    </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- /.item_box -->
                                {% endfor %}

                            </div>
                        </div>
                    </div><!-- /.box-body -->
            {% else %}
                <div class="box-body no-padding">
                    <div class="data-empty"><svg class="cb cb-inbox"> <use xlink:href="#cb-inbox" /></svg><p>データはありません</p></div>
                </div><!-- /.box-body -->
            {% endif %}
            <!-- ▲ データがある時 ▲ -->

            </div><!-- /.box -->
        </div><!-- /.col -->

    </div>
{% endblock %}
